In [2]:
import pandas as pd

In [3]:
train = pd.read_csv("/Users/irenewalken/Documents/GitHub/Airline-Passenger-Satisfaction-Machine_learning-/Data/train.csv")
test = pd.read_csv("/Users/irenewalken/Documents/GitHub/Airline-Passenger-Satisfaction-Machine_learning-/Data/test.csv")
data = pd.concat([train, test])
data

In [3]:
data = data.drop(["Unnamed: 0"], axis = 1)
data = data.drop(["id"], axis = 1)

data.to_csv('/Users/irenewalken/Documents/GitHub/Airline-Passenger-Satisfaction-Machine_learning-/Airline-Passenger-Satisfaction-Machine_learning.csv')
data

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,Male,disloyal Customer,34,Business travel,Business,526,3,3,3,1,...,4,3,2,4,4,5,4,0,0.0,neutral or dissatisfied
25972,Male,Loyal Customer,23,Business travel,Business,646,4,4,4,4,...,4,4,5,5,5,5,4,0,0.0,satisfied
25973,Female,Loyal Customer,17,Personal Travel,Eco,828,2,5,1,5,...,2,4,3,4,5,4,2,0,0.0,neutral or dissatisfied
25974,Male,Loyal Customer,14,Business travel,Business,1127,3,3,3,3,...,4,3,2,5,4,5,4,0,0.0,satisfied
25975,Female,Loyal Customer,42,Personal Travel,Eco,264,2,5,2,5,...,1,1,2,1,1,1,1,0,0.0,neutral or dissatisfied

In [4]:
data = data.dropna()

In [5]:
data = data.drop(["Arrival Delay in Minutes"], axis = 1)
data

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,satisfaction
0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,...,5,5,4,3,4,4,5,5,25,neutral or dissatisfied
1,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,...,1,1,1,5,3,1,4,1,1,neutral or dissatisfied
2,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,...,5,5,4,3,4,4,4,5,0,satisfied
3,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,...,2,2,2,5,3,1,4,2,11,neutral or dissatisfied
4,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,...,5,3,3,4,4,3,3,3,0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,Male,disloyal Customer,34,Business travel,Business,526,3,3,3,1,...,4,4,3,2,4,4,5,4,0,neutral or dissatisfied
25972,Male,Loyal Customer,23,Business travel,Business,646,4,4,4,4,...,4,4,4,5,5,5,5,4,0,satisfied
25973,Female,Loyal Customer,17,Personal Travel,Eco,828,2,5,1,5,...,2,2,4,3,4,5,4,2,0,neutral or dissatisfied
25974,Male,Loyal Customer,14,Business travel,Business,1127,3,3,3,3,...,4,4,3,2,5,4,5,4,0,satisfied
25975,Female,Loyal Customer,42,Personal Travel,Eco,264,2,5,2,5,...,2,1,1,2,1,1,1,1,0,neutral or dissatisfied

In [56]:
temp=pd.DataFrame(columns=data.columns.to_list())

result=[]

for col in data.columns:
    result.append(list(data[col]))
    
temp.loc[0] = result
temp

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,satisfaction
0,"[Male, Male, Female, Female, Male, Female, Mal...","[Loyal Customer, disloyal Customer, Loyal Cust...","[13, 25, 26, 25, 61, 26, 47, 52, 41, 20, 24, 1...","[Personal Travel, Business travel, Business tr...","[Eco Plus, Business, Business, Business, Busin...","[460, 235, 1142, 562, 214, 1180, 1276, 2035, 8...","[3, 3, 2, 2, 3, 3, 2, 4, 1, 3, 4, 2, 1, 4, 3, ...","[4, 2, 2, 5, 3, 4, 4, 3, 2, 3, 5, 4, 4, 2, 2, ...","[3, 3, 2, 5, 3, 2, 2, 4, 2, 3, 5, 2, 4, 4, 3, ...","[1, 3, 2, 5, 3, 1, 3, 4, 2, 4, 4, 2, 4, 3, 2, ...",...,"[5, 1, 5, 2, 5, 1, 2, 5, 3, 3, 2, 1, 1, 4, 2, ...","[5, 1, 5, 2, 3, 1, 2, 5, 1, 2, 2, 1, 1, 4, 2, ...","[4, 1, 4, 2, 3, 3, 3, 5, 1, 2, 3, 1, 1, 4, 4, ...","[3, 5, 3, 5, 4, 4, 3, 5, 2, 3, 3, 2, 1, 5, 3, ...","[4, 3, 4, 3, 4, 4, 4, 5, 1, 4, 5, 5, 3, 2, 2, ...","[4, 1, 4, 1, 3, 4, 3, 4, 4, 4, 3, 5, 4, 2, 2, ...","[5, 4, 4, 4, 3, 4, 5, 5, 1, 3, 5, 5, 4, 2, 1, ...","[5, 1, 5, 2, 3, 1, 2, 4, 2, 2, 2, 1, 1, 4, 2, ...","[25, 1, 0, 11, 0, 0, 9, 4, 0, 0, 0, 0, 28, 0, ...","[neutral or dissatisfied, neutral or dissatisf..."

In [58]:
temp.to_csv('/Users/irenewalken/Documents/GitHub/Airline-Passenger-Satisfaction-Machine_learning-/Data_for_tableau.csv')

In [60]:
temp.to_excel('/Users/irenewalken/Documents/GitHub/Airline-Passenger-Satisfaction-Machine_learning-/Data_for_tableau.xlsx')